SetEnv DEVELOP_BOX "romica"

#Rewrite rules
RewriteEngine On
RewriteBase /
RewriteCond $1 !^(index\.php|robots\.txt|assets|ontology)
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^(.*)$ index.php/$1 [L]